/*** For all devices: ***/

/* For header */
header {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 415px) {
  /*** For iPhone 6: ***/
  img {
    width: 100%;
  }
}
@media only screen and (min-width: 415px) and (max-width: 1024px) {
  /*** For iPad: ***/
  img {
    width: 50%;
  }
}
@media only screen and (min-width: 1025px) {
  /*** For Laptop: ***/
  img {
    width: 33.3%;
  }
}
