/*** For all devices: ***/

menu-items {
  display: flex;
  flex-wrap: wrap;
}

/* For header */
header {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 415px) {
  /*** For iPhone 6: ***/
  .menu-item {
    width: 100%;
  }
}
@media only screen and (min-width: 415px) and (max-width: 1024px) {
  /*** For iPad: ***/
  .menu-item {
    width: 50%;
  }
}
@media only screen and (min-width: 1025px) {
  /*** For Laptop: ***/
  .menu-item {
    width: 30%;
  }
}
